<h1>Pagina de Dragon ball z</h1>
<div class="row">
  <div class="col">
    <app-lista-personajes-dbz
      [personajesDbz]="personajesDbz"
    ></app-lista-personajes-dbz>
  </div>

  <div class="col">
    <app-agregar-personaje
      [caracteristicas]="caracteristicas"

    ></app-agregar-personaje>
  </div>
</div>

<!-- <span style="color: rgb(0, 0, 118);font-weight: bold;">Si esto sin useState, se puede usar en tiempo real</span>
    <p style="text-decoration: underline;" *ngIf="caracteristicas.nombre;else tavacio" >{{caracteristicas.nombre}}</p>
    <ng-template #tavacio>
      <p style="text-decoration: underline;">Cabron dejaste lo dejaste vacio </p>
    </ng-template> -->

<!-- TO DATA VAINE
            []= Atrapamos el valor de la variable
            ()= Emitimos el evento
            name = como react.hooks.forms, Se declara por que si no se queja la niña
          -->
<!--  Sin la libreria de Angular Ng
          [value]="caracteristicas.nombre"
          (input)="cambiarNombre($event)"
          -->
